doctype html(lang='en')
head
    meta(charset='UTF-8')
    | 
    meta(name='viewport', content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0')
    | 
    title &#x84E6;&#x7136;&#x56DE;&#x9996; &#x60D8;&#x7136;&#x5982;&#x68A6;
    | 
    link(rel='stylesheet', href='mainstyle.css')
    | 
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    | 
    script(type='text/javascript', src='hehe.js')
    | 
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.css')
    | 
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.js')
  | 
  body
    #dowebok.content
      header.section.active
        .header_warp
          nav
            .logo
              a(href='#') &#x6731;&#x5C0F;&#x6CE2;
            | 
            button test
            | 
            ul
              li
                a(href='') Home page
              | 
              li
                a(href='') More
              | 
              li
                a(href='') About me
              | 
              li
                a(href='') Hehe
          | 
          #banner
            i.mask
            | 
            .inner
              h1 &#x6731;&#x5C0F;&#x6CE2;
              | 
              p
                | &#x4E00;&#x4E2A;&#x6709; &#x6211; &#x7684;&#x4E16;&#x754C;
                br
                | 
                br
                | Me &amp;&nbsp;World
              | 
              button
                | &#x4E86;&#x89E3;&#x6211;
      | 
      | 
      section.green-section.section
        .warp
          .green-title
            h2 &#x4E00;&#x4E2A;&#x6709; &#x6211; &#x7684;&#x6545;&#x4E8B;
            | 
            hr
            | 
            p
              | We can always redeem the man who aspires and strives
          | 
          ul#item_icon
            li.icon
              i
              | 
              p
                | &#x5403;&#x996D;
            | 
            li.icon
              i  
              | 
              p
                | &#x7761;&#x89C9;
            | 
            li.icon
              i  
              | 
              p
                | &#x60F3;&#x59B9;&#x7EB8;
      | 
      | 
      section.blue-section.section
        .article-pre
          .img-sec
            img(data-src='img/pic01.jpg', alt='')
          | 
          .txt-sec
            h2  &#x4E00;&#x5F00;&#x59CB;&#x6211;&#x662F;&#x62D2;&#x7EDD;&#x7684; 
            | 
            p
              | People will always follow the heart much more readily than they will follow orders.
            | 
            a(href='') More..
        | 
        .article-pre.article-pre2
          .img-sec
            img(data-src='img/pic02.jpg', alt='')
          | 
          .txt-sec
            h2  &#x7136;&#x800C;&#x6211;&#x4F9D;&#x65E7;&#x4E00;&#x4EBA; 
            | 
            p
              | It&apos;s not my responsiblity to have a personal life that everybody&apos;s comfortable with.
            | 
            a(href='') More..
        | 
        .article-pre.article-pre3
          .img-sec
            img(data-src='img/pic03.jpg', alt='')
          | 
          .txt-sec
            h2  &#x8FD8;&#x6709;&#x591A;&#x8FDC;&#x7684;&#x8DEF;&#x8981;&#x8D70; 
            | 
            p
              | One is always on a strange road, watching strange scenery and listening to strange music. Then one day, you will find that the things you try hard to forget are already gone.
            | 
            a(href='') More..
      | 
      | 
      section.purple-section.section
        .purple-warp
          .sub-head
            h2  &#x826F;&#x8FB0;&#xFF0C;&#x5728;&#x4E0B;&#x4E0D;&#x7EA6; 
            | 
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ratione tempora maiores velit eveniet officia
          | 
          .card-group
            .card
              h4  &#x672C;&#x5730;&#x4EBA; 
            | 
            .card
              h4  &#x5FC5;&#x6709;&#x91CD;&#x8C22; 
            | 
            .card
              h4  &#x4E00;&#x767E;&#x79CD; 
            | 
            .card
              h4  &#x5949;&#x966A;&#x5230;&#x5E95; 
    
      | 
      | 
      section.grey-section.section
        .grey_head
          h2 &#x9759;&#x82E5;&#x5446;&#x9E21; &#x52A8;&#x82E5;&#x75AF;&#x72D7;
        | 
        .warp
          ul#circle_group
            li.circle
              i.mouseout
              | 
              p.lower_semi_circle
                | &#x53D1;&#x5446;
              | 
              p.low_mouseout
            | 
            li.circle
              i.mouseout
              | 
              p.lower_semi_circle
                | &#x5954;&#x8DD1;
              | 
              p.low_mouseout
            | 
            li.circle
              i.mouseout
              | 
              p.lower_semi_circle
                | &#x72AF;&#x75C5;
              | 
              p.low_mouseout
      | 
      | 
      section.bottom.section
        i.bottom-mask
        | 
        .bottom_btn
          button
            | &#x517B;&#x6211;
          | 
          button
            | &#x5582;&#x6211;
        | 
        .copy
          p
            | @ &#x6731;&#x5C0F;&#x6CE2;
          | 
          h6 &#x9A84;&#x50B2;&#x7684;&#x4F7F;&#x7528;&#x4E86; &#x5C0F;&#x6CFD;&#x7AE5;&#x978B;~~&#x505A;&#x7684;&#x6A21;&#x677F;
