<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>
            About me 关于我
        </title>
        <link rel="stylesheet" type="text/css" href="../public/css/mypage.css"/>
    </head>
    <body>
        <div id="left">
            <div class="user">
                <i class="head_pro">
                    <img src="../public/img/tian_head.jpg"/>
                </i>
                <h2 class="name">
                    张童鞋 | Jimze
                </h2>
                <p>
                    大学在读/造轮程序猿/中二青年
                </p>
            </div>
            <nav class="small_nav">
                <!-- navagation -->
                <ul>
                    <li>
                        <a href="">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="http://int-double.com/">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/evil0xff">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="/aboutme">
                            About me
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div id="right">
            <div class="infor">
                <section class="past">
                    <div class="text_wrap">
                        <h2>
                            Experience
                        </h2>
                        <p>
                        
                        </p>
                    </div>
                </section>
                
                <section class="now">
                    <div class="text_wrap">
                        <h2>
                            My Skills
                        </h2>
                        <p>
                        </p>
                    </div>
                </section>

                <section class="feture">
                    <div class="text_wrap">
                        <h2>
                            Hoppys
                        </h2>
                        <p>
                        </p>
                    </div>
                </section>
            </div>
            <div class="footer">
            </div>
        </div>
    </body>
</html>
