<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About me 关于我</title>
	<link rel="stylesheet" type="text/css" href="../public/css/mypage.css">
</head>
<body>

	<div id="left">
		<div class="user">
			<i class="head_pro"><img src="../public/img/head_pro.png"></i>
			<h2 class="name"></h2>
		</div>
		<div class="nav">
			
		</div>
	</div>
	
	<div id="right">
		<div class="infor">
			<h2 class="past"></h2>
			<p></p>
			<h2 class="now"></h2>
			<p></p>
			<h2 class="feture"></h2>
			<p></p>
		</div>

	</div>
</body>
</html>