extends layout
block content
    ul#menu
      li.acvive(data-menuanchor='page1')
        a(href='#page1')
      li(data-menuanchor='page2')
        a(href='#page2')
      li(data-menuanchor='page3')
        a(href='#page3')
      li(data-menuanchor='page4')
        a(href='#page4')
      li(data-menuanchor='page5')
        a(href='#page5')
      li(data-menuanchor='page6')
        a(href='#page6')
    #dowebok.content
      header.section.active
        .header_warp
          nav
            // navagation
            .logo
              a(href='#')
                | Jimze
            ul
              li
                a(href='')
                  | Home
              li
                a(href='http://int-double.com/')
                  | Blog
              li
                a(href='https://github.com/clingk')
                  | Github
              li
                a(href='/aboutme')
                  | About me
          #banner
            i.mask
            .inner
              h1
                | 浩瀚苍穹 终有一跃
              p
                | 做全新的自己
                br
                br
                |                             Me & World
              button
                | 了解我
      // green  square icon
      section.green-section.section
        .warp
          .green-title
            h2
              | 一个有 我 的故事
            hr
            p
              | 我们总是能够救赎那些有追求并为理想奋斗的人
          ul#item_icon
            li.icon
              i
              p
                | coding
            li.icon
              i
              p
                | 阅读
            li.icon
              i
              p
                | 认真做事
      // article preview section
      // this section will connect with bolg
      section.blue-section.section
        #text_sec.article-pre
          .img-sec
            img(data-src='img/pic01.jpg', alt='')
          .txt-sec
            //
              template
              <h2>
              title
              </h2>
              <p>
              excerpt
              </p>
              <a href="">
              link to blog
              </a>
        .article-pre.article-pre2
          .img-sec
            img(data-src='img/pic02.jpg', alt='')
          .txt-sec
        .article-pre.article-pre3
          .img-sec
            img(data-src='img/pic03.jpg', alt='')
          .txt-sec
      // purple section   have card group
      // this section will connct github page
      section.purple-section.section
        .purple-warp
          .sub-head
            h2
              | 技能修炼
            p
              | 伸展领域之广度 探求高深之技艺 必究其道义之处 并践行于代码之间
          .card-group
            .card
              h4
                | HTML/CSS/Boostrap
            .card
              h4
                | Python/Javascript/Node.js/Java SE
            .card
              h4
                | Linux server
            .card
              h4
                | Arduino/Raspbarry pi
      // grey section use circle group
      // show hoppies and activitis
      section.grey-section.section
        .grey_head
          h2
            | 静若呆鸡 动若疯狗
        .warp
          ul#circle_group
            li.circle
              i.mouseout
              p.lower_semi_circle
                | 发呆
              p.low_mouseout
            li.circle
              i.mouseout
              p.lower_semi_circle
                | 奔跑
              p.low_mouseout
            li.circle
              i.mouseout
              p.lower_semi_circle
                | 犯病
              p.low_mouseout
      // LAST miaow miaow ~~  cat section
      section.bottom.section
        i.bottom-mask
        .bottom_btn
          button
            | 养我
          button
            | 喂我
        .copy
          p
            | @ Jimze
          h6
            | 骄傲的 使用自己 开源代码
    //
      <footer style="display = none;">
      footer is belong to me  haha~~~
      hack by  @jimze @clingk
      email: clinghere@gmail.com
      ( ●▽● )  maiow~~  maiow~~
      </footer>

