<!DOCTYPE html>
<html lang="en">
    <!--
        Hello ! you  are look at me !!! (@~@)
        This website  all of code and image is on the github.
        github: https://github.com/clingk/personal_website.
    -->
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
        <title>
            Jimze | 个人首页
        </title>
        <script src="http://apps.bdimg.com/libs/jquery/1.6.4/jquery.min.js">
        </script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.js">
        </script>
        <!-- change the css and js path -->
        <link rel="stylesheet" href="../public/css/mainstyle.css"/>
        <script type="text/javascript" src="../public/js/hehe.js">
        </script>

    </head>
    <body>
    
    <ul id="menu">
        <li data-menuanchor="page1" class="acvive">
            <a href="#page1">
            </a>
        </li>
        <li data-menuanchor="page2">
            <a href="#page2">
            </a>
        </li>
        <li data-menuanchor="page3">
            <a href="#page3">
            </a>
        </li>
        <li data-menuanchor="page4">
            <a href="#page4">
            </a>
        </li>
        <li data-menuanchor="page5">
            <a href="#page5">
            </a>
        </li>
        <li data-menuanchor="page6">
            <a href="#page6">
            </a>
        </li>
    </ul>
    <div id="dowebok" class="content">
        <header class="section active">
            <div class="header_warp">
                <nav>
                    <!-- navagation -->
                    <div class="logo">
                        <a href="#">
                            Jimze
                        </a>
                    </div>
                    <ul>
                        <li>
                            <a href="">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="http://int-double.com/">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/evil0xff">
                                Github
                            </a>
                        </li>
                        <li>
                            <a href="/aboutme">
                                About me
                            </a>
                        </li>
                    </ul>
                </nav>
                <div id="banner">
                    <i class="mask">
                    </i>
                    <div class="inner">
                        <h1>
                            浩瀚苍穹 终有一跃
                        </h1>
                        <p>
                            做全新的自己
                            <br/>
                            <br/>
                            Me & World
                        </p>
                        <button>
                            了解我
                        </button>
                    </div>
                </div>
            </div>
        </header>
        <!-- green  square icon -->
        <section class="green-section section">
            <div class="warp">
                <div class="green-title">
                    <h2>
                        一个有 我 的故事
                    </h2>
                    <hr/>
                    <p>
                        我们总是能够救赎那些有追求并为理想奋斗的人
                    </p>
                </div>
                <ul id="item_icon">
                    <li class="icon">
                        <i>
                        </i>
                        <p>
                            coding
                        </p>
                    </li>
                    <li class="icon">
                        <i>
                        </i>
                        <p>
                            阅读
                        </p>
                    </li>
                    <li class="icon">
                        <i>
                        </i>
                        <p>
                            认真做事
                        </p>
                    </li>
                </ul>
            </div>
        </section>


        <!-- article preview section -->
        <!-- this section will connect with bolg  -->

        <section class="blue-section section">
            <div class="article-pre" id="text_sec">
                <div class="img-sec">
                    <img data-src="img/pic01.jpg" alt=""/>
                </div>
                <div class="txt-sec">
                    <!-- 
                    template
                    <h2>
                        title
                    </h2>
                    <p>
                        excerpt
                    </p>
                    <a href="">
                        link to blog
                    </a> -->
                </div>
            </div>
            <div class="article-pre article-pre2">
                <div class="img-sec">
                    <img data-src="img/pic02.jpg" alt=""/>
                </div>
                <div class="txt-sec">
                
                </div>
            </div>
            <div class="article-pre article-pre3">
                <div class="img-sec">
                    <img data-src="img/pic03.jpg" alt=""/>
                </div>
                <div class="txt-sec">
                    
                </div>
            </div>
        </section>


        <!-- purple section   have card group -->
        <!-- this section will connct github page -->

        <section class="purple-section section">
            <div class="purple-warp">
                <div class="sub-head">
                    <h2>
                        技能修炼
                    </h2>
                    <p>
                        伸展领域之广度 探求高深之技艺 必究其道义之处 并践行于代码之间
                    </p>
                </div>
                <div class="card-group">
                    <div class="card">
                        <h4>
                            HTML/CSS/Boostrap
                        </h4>
                    </div>
                    <div class="card">
                        <h4>
                            Python/Javascript/Node.js/Java SE
                        </h4>
                    </div>
                    <div class="card">
                        <h4>
                            Linux server
                        </h4>
                    </div>
                    <div class="card">
                        <h4>
                            Arduino/Raspbarry pi
                        </h4>
                    </div>
                </div>
            </div>
        </section>


        <!-- grey section use circle group -->
        <!-- show hoppies and activitis -->
        <section class="grey-section section">
            <div class="grey_head">
                <h2>
                    静若呆鸡 动若疯狗
                </h2>
            </div>
            <div class="warp">
                <ul id="circle_group">
                    <li class="circle">
                        <i class="mouseout">
                        </i>
                        <p class="lower_semi_circle">
                            发呆
                        </p>
                        <p class="low_mouseout">
                        </p>
                    </li>
                    <li class="circle">
                        <i class="mouseout">
                        </i>
                        <p class="lower_semi_circle">
                            奔跑
                        </p>
                        <p class="low_mouseout">
                        </p>
                    </li>
                    <li class="circle">
                        <i class="mouseout">
                        </i>
                        <p class="lower_semi_circle">
                            犯病
                        </p>
                        <p class="low_mouseout">
                        </p>
                    </li>
                </ul>
            </div>
        </section>

        <!-- LAST miaow miaow ~~  cat section -->
        
        <section class="bottom section">
            <i class="bottom-mask">
            </i>
            <div class="bottom_btn">
                <button>
                    养我
                </button>
                <button>
                    喂我
                </button>
            </div>
            <div class="copy">
                <p>
                    @ Jimze
                </p>
                <h6>
                    骄傲的 使用自己 开源代码
                </h6>
            </div>
        </section>
    </div>
    <!--
        <footer style="display = none;">
            footer is belong to me  haha~~~
            hack by  @jimze @clingk
            email: clinghere@gmail.com
            ( ●▽● )  maiow~~  maiow~~
        </footer>
    -->
    <script src="../public/js/getArticle.js"></script>
    </body>
    
</html>
