doctype html
html(lang='en')
  //
      Hello ! you  are look at me !!! (@~@)
      This website  all of code and image is on the github.
      github: https://github.com/clingk/personal_website.
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0')
    title 蓦然回首 惘然如梦
    link(rel='stylesheet', href='/css/mainstyle.css')
    script(type='text/javascript', src='/js/hehe.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.js')
  body
    block content
